$columns: 12;
$gutter: 20px;
// @import "mediaQuery";
.row {
	display: flex;
}
.row-wrap {
	flex-wrap: wrap;
}
.jcsb{
	justify-content: space-between;
}
.jcsb-sm{
	@include phone{
		justify-content: space-between;
	}
}
.jcc-sm{
	@include phone{
		justify-content: center;
	}
}
.jcc-md{
	@include pad{
		justify-content: center;
	}
}
.block-center-md{
	@include pad{
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
.col{
	flex: 0 auto;
}
@for $i from 1 through $columns {
	.col-#{$i} {
		flex: 0 0 (100% / $columns * $i);
	}
}
@for $i from 0 through $columns {
	.col-offset-#{$i} {
		margin-left: 100% / $columns * $i;
	}
}
@each $bp-key, $bp-val in $grid-breakpoint {
	@media (max-width: $bp-val) {
		@for $i from 1 through $columns {
			.col#{$bp-key}-#{$i} {
				flex: 0 0 (100%/12 * $i);
			}
		}
	}
}
@each $bp-key, $bp-val in $grid-breakpoint {
	@media (max-width: $bp-val) {
		@for $i from 0 through $columns {
			.col-offset#{$bp-key}-#{$i} {
				margin-left: (100%/12 * $i);
			}
		}
	}
}
[class*="col"] + [class*="col"] {
	padding-left: $gutter;
}
.row-wrap {
	&.row {
		margin: 0 (-$gutter / 2);
	}
	> [class*="col"] {
		padding: 0 $gutter/2;
	}
}
// // cntr
// .cntr {
// 	max-width:  map-get($map: $grid-breakpoint, $key: -lg);
// 	margin: 0 auto;
// 	// overflow: hidden;
// }
// @each $bp-key, $bp-val in $grid-breakpoint {
// 	@media (max-width: $bp-val) {
// 		.cntr {
// 			// max-width: $bp-val * 0.9;
// 			max-width: 80vw;
// 			margin: 0 auto;
// 			// overflow: hidden;
// 		}
// 	}
// }
// @each $bp-key, $bp-val in $grid-breakpoint {
// 	@media (max-width: $bp-val) {
// 		.cntr#{$bp-key} {
// 			max-width: $bp-val * 0.9;
// 			margin: 0 auto;
// 			// overflow: hidden;
// 		}
// 	}
// }
// //bp 以下有置中的效果，如果你只要lg有效果，要搭配cntr-sm-fluid
// @each $bp-key, $bp-val in $grid-breakpoint {
// 	// @media (max-width: $bp-val) {
// 		.cntr#{$bp-key} {
// 			max-width: $bp-val * 0.9;
// 			margin: 0 auto;
// 			// overflow: hidden;
// 		}
// 		.cntr#{$bp-key}-fluid{
// 			width: 90%;
// 			margin: 0 auto;
// 		}
// 	// }
// }