@each $bp-key, $bp-val in $grid-breakpoint {
	@media (max-width: $bp-val) {
		@each $display-val in $display {
			.d#{$bp-key}-#{$display-val} {
				display: $display-val;
			}
		}
	}
}
@each $bp-key, $bp-val in $grid-breakpoint {
	@media (max-width: $bp-val) {
		.ta#{$bp-key}-c {
			text-align: center;
		}
	}
}
@mixin aspectRatio($w, $h) {
	position: relative;
	padding-top: $h / $w * 100%;
	> * {
		position: absolute;
		inset: 0;
		//for iframe
		width: 100%;
		height: 100%;
		// top: 0;bottom: 0;left: 0;right: 0;
	}
}
