@charset "utf-8";
@import "imports";
// html{
// 	scroll-behavior: smooth;
// }
.cntr {
	// max-width: 1130px;
	width: 88.28125%;
	margin: 24px auto unquote("min(10vw, 80px)");
}
header .cntr {
	width: 88.28125%;
	margin: 0 auto;
	//padding 放在外面的cntr(.navbar)因為會轉成fixed
}


.SwiperPositionParent {
	//讓你在圖片框外面多了50公分的畫布
	//這個50公分的畫布產生，overflow-x目前想到的方法是算內部的寬度
	//或是在手機板的時候直接關掉
	padding: 0 50px;
	margin: 0 -50px;
	@include phone {
		margin: 0;
		padding: 0;
	}
	position: relative;
}
//大圖片小圖片
.swiper-slide img {
	max-width: 100%;
	// vertical-align: top;
	&.pc {
		display: block;
	}
	&.sp {
		display: none;
	}
	@include pad {
		&.pc {
			display: none;
		}
		&.sp {
			display: block;
		}
	}
}
.banner-swiper {

	.swiper-slide {
		background: center / 100% 100% no-repeat;
		aspect-ratio: 1920/1147;
		@for $i from 1 to 4 {
			&.img#{$i} {
				background-image: url(../images/main#{$i}_pc.jpg);
			}
			@include phone {
				&.img#{$i} {
					background-image: url(../images/main#{$i}_sp.jpg);
					aspect-ratio: 650/950;
				}
			}
		}
	}
}

.scroller {
	writing-mode: vertical-lr;
	cursor: pointer;
	position: absolute;
	z-index: 999;
	color: black;
	top: 0;
	// right: -50px;
	right: 0;
	width: 40px;
	height: 12em;
	@include phone {
		// display: none;
	}
	.img {
		background: url(../images/arrow.svg) left top/50% 130% no-repeat;
		position: absolute;
		inset: 0;
		animation: scroll 1.5s infinite;
		z-index: -1;
	}
	.text {
		position: absolute;
		left: 0.5em;
		white-space: nowrap;
		letter-spacing: 0.25em;
	}
}
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(0);
		opacity: 1;
	}
	75% {
		transform: translateY(25%);
	}
	100% {
		transform: translateY(25%);
		opacity: 0;
	}
}
section.slogan {
	max-width: 200px;
	aspect-ratio: 1/1;
	margin: 0 auto 65px;
	// background: url(../images/slogan.svg) no-repeat center/100%;
	svg {
		display: block;
	}
}
/* news section */
.news {
	margin-bottom: 128px;
	overflow: hidden;
	.card {
		box-sizing: border-box;
		margin-bottom: 32px;
	}

	.cardImg {
		aspect-ratio: 300/200;
		width: 300px;
		width: 100%;
		background: url("https://fakeimg.pl/300x200/ff3") center/cover no-repeat;
		margin-bottom: 16px;
	}

	.cardTitle {
		margin-bottom: 8px;
	}
	.cardSubTitle span:not(:first-of-type)::before {
		content: " | ";
	}
	.cardSubTitle {
		display: flex;
		flex-wrap: wrap;
	}
}
.allNews {
	text-align: right;
	margin-bottom: 2.5em;
}
.allNews span {
	border-bottom: 1px dotted #000;
	position: relative;
}

/* concept  */
.concept {
	margin-bottom: 160px;
}
.concept .banner {
	// display: flex;
	margin-bottom: 108px;
	@include pad {
		margin-bottom: 0;
	}
}
.conceptImg {
	flex: 0 80%;
	max-width: 860px;
	aspect-ratio: 850/520;
	background: url("../images/conceptImg.png") center/cover no-repeat;
	border-radius: 8px;
}
.concept .slogan {
	flex: 0 1 120px;
	margin-left: auto;
	text-align: center;
}
.concept .slogan h2 {
	display: block;
	padding-top: 185px;
	@include phone {
		padding: 0;
	}
}
.concept .slogan h2::after {
	$dashWidth: 6px;
	content: "";
	display: block;
	margin: 0;
	margin-top: 1ch;
	height: 3em;
	width: 50% !important;
	border-right: $dashWidth dashed black;
	transform: none;
	border-bottom: none;
}
// .concept .conceptBody {
// 	// display: flex;
// 	.content {
// 		// flex: 0 42%;
// 	}
// 	.caption {
// 		// flex: auto;
// 		position: relative;
// 	}
// 	@include pad {
// 		// text-align: center;
// 	}
// }
.conceptBody .content {
	h3 {
		color: $primary-color;
		margin-bottom: 32px;
		font-size: 1.5rem;
		line-height: 2;
		letter-spacing: 0.8ch;
	}
	p {
		font-size: 14px;
		letter-spacing: 2.52px;
		line-height: 38px;
	}
}

.conceptBody .caption {
	position: relative;
	.imagebox1 {
		padding-top: 285px;
		width: 53.09735%;
		max-width: 300px;
		@include phone {
			position: absolute;
			padding: 0;
			left: 0;
			bottom: -50%;
		}
		.img1 {
			background: url("../images/conceptCap1.png") center / cover no-repeat;
			border-radius: 8px;
			overflow: hidden;
			aspect-ratio: 4/3;
		}
	}
	.imagebox2 {
		position: absolute;
		z-index: -1;
		top: 48px;
		right: 2%;
		width: 70%;
		@include phone {
			position: static;
			margin-left: auto;
		}
		.img2 {
			background: url("../images/conceptCap2.png") center / cover no-repeat;
			border-radius: 8px;
			overflow: hidden;
			aspect-ratio: 4/3;
		}
	}
}

/* shopInfo  */
.shopInfo {
	background-color: #f8f8f8;
	padding: 100px 0 80px;
	@include pad {
		padding-top: 20px;
	}
}
//container
.shopInfoWrapper {
	// display: flex;
	// flex-wrap: wrap;
	margin-bottom: 56px;
	> h2 {
		// width: 100%;
		margin-bottom: 4rem;
	}
	> .content {
		// width: 30%;
	}
	.shopCaption {
		// width: 62.5%;
		// max-width: 650px;
		aspect-ratio: 600/415;
		margin-top: $h2-size * -1.2 - 4;
		overflow: hidden;
		@include pad {
			margin-top: 0;
		}
	}
	@include pad {
		justify-content: space-between;
		margin-bottom: 0;
		h2 {
			order: -2;
		}
		.shopCaption {
			order: -1;
		}
		.content {
			width: auto;
			width: 14em;
		}
		> * {
			margin: 0 auto 56px !important;
		}
	}
}

.shopInfoWrapper .content {
	.logo {
		background: url("../images/logo.png") center/cover no-repeat;
		// aspect-ratio: 111/160;
		width: 76px;
		height: 110px;
		text-align: center;
		&:hover {
			opacity: 0.75;
		}
		&:hover::after {
			// content:'';
			background-color: rgba(255, 255, 255, 0.3);
			position: absolute;
			inset: 0;
		}
	}
	.shopName {
		margin: 16px 0;
		@include phone {
			text-align: center;
		}
	}

	.shopInfoTable {
		font-size: 0.875rem;
		line-height: 1.5;
		margin-bottom: 30px;
	}
	.socialIcon {
		color: $primary-color;
	}
	@include pc {
		.shopInfoTable {
			text-align: left;
			white-space: nowrap;
			flex: auto;
		}
	}
}

.shopCaption {
	// margin-left: auto;
	// margin-right: auto;
	@for $i from 1 through 4 {
		.captionSlide.cap#{$i} {
			background: url("../images/shopCaption#{$i}.png") center/cover no-repeat;
			aspect-ratio: 65/45;
		}
	}

	.capPagination {
		box-sizing: border-box;
		padding-right: 2ch;
		text-align: right;
		width: auto !important;
		right: 0;
		/* transform: scale(2); */
		font-size: 1.5rem;
	}
	.capPagination > .swiper-pagination-bullet {
		width: 0.5em;
		height: 0.5em;
		margin: 0.25em !important;
		background-color: $primary-color;
		border: 3px solid white;
	}
}
// access
.accessWrapper {
	h2 {
		margin-bottom: 24px;
		@include pad {
			width: 87vw;
			margin-left: auto;
			margin-right: auto;
		}
	}
	iframe {
		width: 100%;
		aspect-ratio: 2/1;
		margin-bottom: 72px;
	}
	p {
		text-align: center;
		margin-bottom: 16px;
		letter-spacing: 2px;
	}
}
.accessBtnGroup {
	padding: 1.5em;
	// display: flex;
	justify-content: center;
	> a + a {
		margin-left: 1.5em;
	}
	@include phone {
		& {
			flex-wrap: wrap;
		}
		> a + a {
			margin: 1.5em 0 0;
		}
	}
	> a {
		flex: 0 300px;
		padding: 1em 0 0.8em;
		border-radius: 8px;
		background-color: $primary-color;
		color: white;
		// margin: 20px 5%;
		display: flex;
		align-items: center;
		i {
			border-radius: 50%;
			// margin-right: 0.5ch;
			// margin: 0 1.5em;
			margin-left: 1.5em;
			padding: 0.5em;
			background: white;
			color: $primary-color;
			/* line-height: 2; */
		}
		span {
			margin: auto;
			white-space: nowrap;
		}
	}
}
