@charset "utf-8";
@import "imports";
html {
	overflow-y: scroll;
}
.banner {
	margin-bottom: 56px;
}
.bannerImg {
	max-width: 100%;
}
section.news {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}
	.navList {
		display: flex;
		justify-content: flex-end;
	}
	.navItem {
		display: flex;
	}
	.navItem::before {
		content: "/";
		margin: 0 2ch;
	}
	.navItem:first-of-type::before {
		content: "";
		margin: 0;
	}
	.navLink {

		&.active {
			/* transform: translateY(-.35em); */
			margin-top: -0.45em;
			padding-bottom: 0.45em;
			// border-bottom: 1px solid #000;
			font-weight: bolder;
		}
	}
}
.card {
	margin-bottom: 56px;
}
.card-hide {
	display: none;
}
.cardImg {
	padding-top: 66.5%;
	background: center/ cover no-repeat;
	margin-bottom: 20px;
}
.cardTitle {
	margin-bottom: 10px;
}
.cardList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.cardListItem {
	display: inline-block;
	white-space: nowrap;
	&::before {
		content: "|";
		margin: 0 1ch;
	}
}
.cardListItem:first-of-type::before {
	content: "";
	margin: 0;
}
