@charset "UTF-8";
/* base.scss start */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "微軟正黑體";
}

.cntr {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 24px;
  color: #8e3330;
  line-height: 1.2;
  font-size: 2rem;
  position: relative;
}

h2::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-50%);
  width: 100px;
  margin-left: 2ch;
  border-bottom: 4px dashed #000;
}

* {
  outline: 1px solid black;
}

/* base.scss end */
.row {
  display: flex;
}

.col-1 {
  flex: 0 0 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media (max-width: 1100px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
}

@media (max-width: 568px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
}

@media (max-width: 1100px) {
  .col-offset-lg-1 {
    margin-left: 8.33333%;
  }
  .col-offset-lg-2 {
    margin-left: 16.66667%;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-offset-lg-4 {
    margin-left: 33.33333%;
  }
  .col-offset-lg-5 {
    margin-left: 41.66667%;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-offset-lg-7 {
    margin-left: 58.33333%;
  }
  .col-offset-lg-8 {
    margin-left: 66.66667%;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-offset-lg-10 {
    margin-left: 83.33333%;
  }
  .col-offset-lg-11 {
    margin-left: 91.66667%;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }
}

@media (max-width: 768px) {
  .col-offset-md-1 {
    margin-left: 8.33333%;
  }
  .col-offset-md-2 {
    margin-left: 16.66667%;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-offset-md-4 {
    margin-left: 33.33333%;
  }
  .col-offset-md-5 {
    margin-left: 41.66667%;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-offset-md-7 {
    margin-left: 58.33333%;
  }
  .col-offset-md-8 {
    margin-left: 66.66667%;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-offset-md-10 {
    margin-left: 83.33333%;
  }
  .col-offset-md-11 {
    margin-left: 91.66667%;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }
}

@media (max-width: 568px) {
  .col-offset-sm-1 {
    margin-left: 8.33333%;
  }
  .col-offset-sm-2 {
    margin-left: 16.66667%;
  }
  .col-offset-sm-3 {
    margin-left: 25%;
  }
  .col-offset-sm-4 {
    margin-left: 33.33333%;
  }
  .col-offset-sm-5 {
    margin-left: 41.66667%;
  }
  .col-offset-sm-6 {
    margin-left: 50%;
  }
  .col-offset-sm-7 {
    margin-left: 58.33333%;
  }
  .col-offset-sm-8 {
    margin-left: 66.66667%;
  }
  .col-offset-sm-9 {
    margin-left: 75%;
  }
  .col-offset-sm-10 {
    margin-left: 83.33333%;
  }
  .col-offset-sm-11 {
    margin-left: 91.66667%;
  }
  .col-offset-sm-12 {
    margin-left: 100%;
  }
}

@media (max-width: 1100px) {
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
}

@media (max-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
}

@media (max-width: 568px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
}

@media (max-width: 1100px) {
  .ta-lg-c {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .ta-md-c {
    text-align: center;
  }
}

@media (max-width: 568px) {
  .ta-sm-c {
    text-align: center;
  }
}

/* navbar.scss start */
.navbar {
  position: sticky;
  top: -24px;
  z-index: 1000;
  background-color: #fff;
  padding-bottom: 24px;
  padding-top: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  overscroll-behavior: none;
  transition: transform .5s;
}

.navbar.collapse {
  transform: translateY(-100%);
  transition: transform .5s;
}

.navbar nav {
  display: flex;
}

.navLeft,
.navRight {
  flex: 0 50%;
}

.navCenter {
  flex: 0 auto;
}

.navCenter .logo {
  display: block;
  background: url(../images/logo.png) center/contain no-repeat;
  aspect-ratio: 111/160;
  margin: 0 28px;
  height: 80px;
}

.navLeft .navList {
  justify-content: flex-end;
}

.navList {
  display: flex;
}

.navList .navLink {
  display: block;
  padding: 0 30px;
  line-height: 80px;
}

@media (max-width: 1100px) {
  .navList .navLink {
    padding: 0 20px;
  }
}

.navList .navLink span {
  position: relative;
}

.navList .navLink span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1em;
  height: 0;
  right: -1ch;
  left: -1ch;
  background-color: darkorange;
}

.navList .navLink:hover span::after {
  content: "";
  height: 0.25em;
  transition: height 0.3s ease-in-out;
}

.navbar .hamburger {
  display: none;
}

.navbar .socialIcon {
  display: flex;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .navbar .socialIcon {
    top: unset;
    bottom: 0;
    transform: none;
  }
}

@media (max-width: 768px) {
  .navbar nav {
    justify-content: center;
  }
  .navRight,
  .navLeft {
    display: none;
  }
  .navbar.active {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background-color: #8e3330;
    z-index: 1000;
    min-height: 100vh;
  }
  .navbar.active::-webkit-scrollbar {
    display: none;
  }
  .navbar.active.collapse {
    transform: unset;
  }
  .navbar.active .socialIcon {
    justify-content: center;
    position: static;
    transform: none;
    color: white;
  }
  .navbar.active .socialIcon > * + * {
    margin-left: .5em;
  }
  .navbar.active nav {
    flex-wrap: wrap;
  }
  .navbar.active .navLeft,
  .navbar.active .navRight {
    flex: 100%;
    display: block;
  }
  .navbar.active .navCenter {
    order: -1;
  }
  .navbar.active .logo {
    margin: 5vh auto;
    background-image: url(../images/nav_logo.png);
  }
  .navbar.active .navList {
    display: block;
  }
  .navbar.active .navLink {
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    padding: 2vh 0;
  }
  .navbar .hamburger {
    display: block;
    --box-width: 50px;
    --dash-width: 80%;
    --dash-height: 4%;
    width: var(--box-width);
    height: var(--box-width);
    position: absolute;
    right: 6%;
    top: 24px;
    z-index: 2;
    text-align: center;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .navbar .hamburger {
    width: 5em;
  }
  .navbar .hamburger span {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .navbar .hamburger span {
    width: min( var(--dash-width), 100%);
    height: min( var(--dash-height), 33%);
    background-color: #000;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: transform 0.3s, inset 0.3s 0.3s;
  }
  .navbar .hamburger span:nth-of-type(1) {
    bottom: 48%;
  }
  .navbar .hamburger span:nth-of-type(3) {
    top: 48%;
  }
  .navbar.active .hamburger {
    position: fixed;
  }
  .navbar.active .hamburger span {
    transition: background-color 0.3s, inset 0.3s, opacity 0.6s, transform 0.3s 0.3s;
    background-color: white;
  }
  .navbar.active .hamburger span:nth-of-type(1) {
    inset: 0;
    transform: rotate(45deg);
  }
  .navbar.active .hamburger span:nth-of-type(2) {
    opacity: 0;
  }
  .navbar.active .hamburger span:nth-of-type(3) {
    inset: 0;
    transform: rotate(-45deg);
  }
}

.toTop {
  position: fixed;
  bottom: 0;
  right: 20px;
  color: #8e3330;
  border: 2px solid #8e3330;
  border-radius: 50%;
  padding: 2em;
}

/* navbar.scss end */
.siteFooter {
  background-color: #f8f8f8;
}

.siteFooter .copyright {
  padding: 48px 0 55px;
  letter-spacing: 0.15em;
  text-align: center;
  font-size: 0.875rem;
}

@media (max-width: 568px) {
  .siteFooter .copyright {
    padding: 0 0 16vw;
    font-size: 2.66667vw;
  }
}

.cntr {
  width: 88.28125%;
  margin: 24px auto min(10vw, 80px);
}

header .cntr {
  width: 88.28125%;
  margin: 0 auto;
}

.swiper-slide img {
  max-width: 100%;
}

.swiper-slide img.pc {
  display: block;
}

.swiper-slide img.sp {
  display: none;
}

@media (max-width: 768px) {
  .swiper-slide img.pc {
    display: none;
  }
  .swiper-slide img.sp {
    display: block;
  }
}

section {
  position: relative;
  scroll-snap-type: block;
}

.scroller {
  writing-mode: vertical-lr;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  color: black;
  top: 0;
  right: -50px;
  width: 40px;
  height: 12em;
}

.scroller .img {
  background: url(../images/arrow.svg) left top/50% 130% no-repeat;
  position: absolute;
  inset: 0;
  animation: scroll 1.5s infinite;
  z-index: -1;
}

.scroller .text {
  position: absolute;
  left: 0.5em;
  white-space: nowrap;
  letter-spacing: 0.25em;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(25%);
    opacity: 0;
  }
}

section.slogan {
  width: 200px;
  aspect-ratio: 1/1;
  margin: 0 auto 65px;
}

section.slogan svg {
  display: block;
}

/* news section */
.news {
  margin-bottom: 128px;
  overflow: hidden;
}

.news .cardCntr {
  display: flex;
  margin: 0 -15px 16px;
  flex-wrap: wrap;
}

.news .cardCntr .card {
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 32px;
}

.news .cardImg {
  aspect-ratio: 300/200;
  width: 300px;
  width: 100%;
  background: url("https://fakeimg.pl/300x200/ff3") center/cover no-repeat;
  margin-bottom: 24px;
}

.news .cardTitle {
  margin-bottom: 8px;
}

.news .cardSubTitle span:not(:first-of-type)::before {
  content: " | ";
}

.news .cardSubTitle {
  display: flex;
  flex-wrap: wrap;
}

.allNews {
  text-align: right;
  margin-bottom: 2.5em;
}

.allNews span {
  border-bottom: 1px dotted #000;
  position: relative;
}

/* concept  */
.concept {
  margin-bottom: 160px;
}

.concept .banner {
  margin-bottom: 108px;
}

@media (max-width: 768px) {
  .concept .banner {
    margin-bottom: 0;
  }
}

.conceptImg {
  flex: 0 80%;
  max-width: 860px;
  aspect-ratio: 850/520;
  background: url("../images/conceptImg.png") center/cover no-repeat;
  border-radius: 8px;
}

.concept .slogan {
  flex: 0 1 120px;
  margin-left: auto;
  text-align: center;
}

.concept .slogan h2 {
  display: block;
  padding-top: 185px;
}

@media (max-width: 568px) {
  .concept .slogan h2 {
    padding: 0;
  }
}

.concept .slogan h2::after {
  content: "";
  display: block;
  margin: 0;
  margin-top: 1ch;
  height: 3em;
  width: 50% !important;
  border-right: 6px dashed black;
  transform: none;
  border-bottom: none;
}

.conceptBody .content h3 {
  color: #8e3330;
  margin-bottom: 32px;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.8ch;
}

.conceptBody .content p {
  font-size: 14px;
  letter-spacing: 2.52px;
  line-height: 38px;
}

.conceptBody .caption {
  position: relative;
}

.conceptBody .caption .imagebox1 {
  padding-top: 285px;
  width: 53.09735%;
  max-width: 300px;
}

@media (max-width: 568px) {
  .conceptBody .caption .imagebox1 {
    position: absolute;
    padding: 0;
    left: 0;
    bottom: -50%;
  }
}

.conceptBody .caption .imagebox1 .img1 {
  background: url("../images/conceptCap1.png") center/cover no-repeat;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.conceptBody .caption .imagebox2 {
  position: absolute;
  z-index: -1;
  top: 48px;
  right: 2%;
  width: 70%;
}

@media (max-width: 568px) {
  .conceptBody .caption .imagebox2 {
    position: static;
    margin-left: auto;
  }
}

.conceptBody .caption .imagebox2 .img2 {
  background: url("../images/conceptCap2.png") center/cover no-repeat;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 4/3;
}

/* shopInfo  */
.shopInfo {
  background-color: #f8f8f8;
  padding: 100px 0 80px;
}

.shopInfoWrapper {
  display: flex;
  margin-bottom: 56px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shopInfoWrapper > h2 {
  width: 100%;
  margin-bottom: 4rem;
}

.shopInfoWrapper > .content {
  width: 30%;
}

.shopInfoWrapper > .shopCaption {
  width: 62.5%;
  max-width: 650px;
  aspect-ratio: 600/415;
  margin-top: -6.4rem;
}

@media (max-width: 768px) {
  .shopInfoWrapper h2 {
    order: -2;
    width: 90%;
  }
  .shopInfoWrapper .shopCaption {
    order: -1;
    width: 90%;
  }
  .shopInfoWrapper .content {
    width: auto;
    width: 14em;
  }
  .shopInfoWrapper > * {
    margin: 0 auto 56px !important;
  }
}

.shopInfoWrapper .content .logo {
  background: url("../images/logo.png") center/cover no-repeat;
  aspect-ratio: 111/160;
  height: 110px;
  text-align: center;
  position: relative;
}

.shopInfoWrapper .content .logo:hover {
  opacity: 0.75;
}

.shopInfoWrapper .content .logo:hover::after {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  inset: 0;
}

.shopInfoWrapper .content .shopName {
  margin: 16px 0;
}

.shopInfoWrapper .content .shopAddr {
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.5;
}

.shopInfoWrapper .content .shopInfoTable {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.shopInfoWrapper .content .socialIcon {
  color: #8e3330;
  display: flex;
  justify-content: center;
}

.shopInfoWrapper .content .socialIcon i {
  margin: 0 0.25em;
}

.shopInfoWrapper .content .socialIcon i:hover {
  opacity: 0.5;
}

@media (max-width: 1100px) {
  .shopInfoWrapper .content > div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .shopInfoWrapper .content .shopInfoTable {
    text-align: left;
    white-space: nowrap;
    flex: auto;
  }
}

.shopCaption .captionSlide.cap1 {
  background: url("../images/shopCaption1.png") center/cover no-repeat;
  aspect-ratio: 65/45;
}

.shopCaption .captionSlide.cap2 {
  background: url("../images/shopCaption2.png") center/cover no-repeat;
  aspect-ratio: 65/45;
}

.shopCaption .captionSlide.cap3 {
  background: url("../images/shopCaption3.png") center/cover no-repeat;
  aspect-ratio: 65/45;
}

.shopCaption .captionSlide.cap4 {
  background: url("../images/shopCaption4.png") center/cover no-repeat;
  aspect-ratio: 65/45;
}

.shopCaption .capPagination {
  box-sizing: border-box;
  padding-right: 2ch;
  text-align: right;
  width: auto !important;
  right: 0;
  /* transform: scale(2); */
  font-size: 1.5rem;
}

.shopCaption .capPagination > .swiper-pagination-bullet {
  width: 0.5em;
  height: 0.5em;
  margin: 0.25em !important;
  background-color: #8e3330;
  border: 3px solid white;
}

.accessWrapper h2 {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .accessWrapper h2 {
    width: 87vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.accessWrapper iframe {
  width: 100%;
  aspect-ratio: 2/1;
  margin-bottom: 72px;
}

.accessWrapper p {
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.accessBtnGroup {
  padding: 1.5em;
  justify-content: center;
}

.accessBtnGroup > a + a {
  margin-left: 1.5em;
}

@media (max-width: 568px) {
  .accessBtnGroup {
    flex-wrap: wrap;
  }
  .accessBtnGroup > a + a {
    margin: 1.5em 0 0;
  }
}

.accessBtnGroup > a {
  flex: 0 300px;
  padding: 1em 0 0.8em;
  border-radius: 8px;
  background-color: #8e3330;
  color: white;
  display: flex;
  align-items: center;
}

.accessBtnGroup > a i {
  border-radius: 50%;
  margin-left: 1.5em;
  padding: 0.5em;
  background: white;
  color: #8e3330;
  /* line-height: 2; */
}

.accessBtnGroup > a span {
  margin: auto;
  white-space: nowrap;
}
/*# sourceMappingURL=index.css.map */